
*{
    /* margin: 50 auto; */
    list-style: none;
}
#container{
    /* border: 1px solid red; */
    width: 500px;
    margin: 0 30%;
    text-align: center;
}
a{
    text-decoration: none;
    display: block;
}
.small {
    width: 70px;
    height: 70px;
    /* margin-right: 6px; */
}
.contents{
    width: 600px;
    height: 200px;
    /* border: 1px solid red; */
}
.tabmenu{
    float: left;
    width: 400px;
}
.tabmenu>li{
    position: relative;
    float: left;
    width: 120px;
    /* border: 1px solid red; */
    line-height: 50px;

}
.tabmenu>li>a{
    display: block;
    background-color: #6c88e5;
    color: white;
    border: 2px solid #d3ec1c;
    border-right: none;
    border-bottom: none;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}
.tabmenu>li:last-child{
    border-right: 2px solid #d3ec1c;
    border-top-right-radius: 20px;
}
.tabmenu>li div{
    position: absolute;
    left: 0px;
    height: 0px;
    top: 50px; 
    display: none;
    /* overflow: hidden; */
}
.tabmenu>li:first-child a{
    display: block;
}
.tabmenu>li.active div{
    z-index: 1;
    width: 400px;
    display: block;
}
.notice ul{
    float: left;
    width: 350px;
    padding: 0;
}
.notice li{
    padding-left: 10px;
    height: 32px;
    line-height: 25px;
    text-align: left;
}
.notice li:nth-child(2n){
    background-color: blanchedalmond;
}
.notice li span{
    float: right;
    padding-right: 10px;
}
.game ul{
    float: left;
    width: 350px;
    padding: 0;
}
.game li{
    height: 32px;
    text-align: left;
    line-height: 25px;
}
.game li:nth-child(2n){
    background-color: blanchedalmond;
}
.game li span{
    float: right;
    padding-right: 10px;
}
.gallery{
    border: 1px solid royalblue;
}
.gallery li{
    float: left; 
    padding: 0;
    margin: 0 5px;
    margin-left: 0px;
}
.gallery li:nth-child(2n){
    background-color: blanchedalmond;
}
.gallery li span{
    float: right;
    padding-right: 10px;
}
.gallery img{
    width: 80px;
    height: 80px;
}